.App {
  text-align: center;
}

.App-header {
  list-style-type: none;
  background-color: #222;
  height: 75px;
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 25px 7px rgba(238, 196, 196, 0.5)
}

.title {
  align-self: center;
}

.menu {
  align-self: center;
  margin: 5px;
}