.cityInfo {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 100px;
    font-size: x-large;
}

.cityName{
    margin-bottom: 30px;
}

.favorties {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 100px;
}

.icon {
    margin-right: 30px
}

.weatherText {
    margin-top: 50px;
    font-weight: 700;
    font-size: 500%;
}